



body {
    background-color: #4a545f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 200px;
}

.custom-color {
    color: #F1C40F;
    /* Amarillo girasol */
}

.color-fondo {
    background-color: #2C3E50;
}

.azul-turquesa {
    color: #1ABC9C;
}

.texto {
    color: white;
}
.btn-primary {
    width: 25%;
    padding: 10px;
    background-color: #E67E22 !important;
    border-color: none !important;
    color: white !important;
    border: none !important;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #d35400 !important;
        border-color: none !important;
        color: white !important;
        border: 3px solid #E67E22 !important;
        transition: border 0.15s !important;
    }

    .btn-primary:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    /* Ajuste del padding y margen de los inputs */
.form-control {
    padding: 15px; /* Incrementar el padding interno */
    margin-bottom: 30px; /* Incrementar el espacio inferior entre inputs */
}

/* Ajuste del ancho y altura de los inputs */
.form-control {
    height: 37px; /* Incrementar la altura del input */
    font-size: 1.1rem; /* Ajustar el tamaño de la fuente para que se vea proporcional */
}


.navbar-nav {
    margin-left: auto;
}

.nav-item {
    position: relative;
    margin-left: 10px;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #F1C40F;
    transition: width .3s;
    margin: 0 auto;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.fondoNav {
    background-color: #2e4257;
}

.navbar-brand,
.navbar-custom .nav-link {
    color: #F1C40F;
}
