
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow: hidden;
    background-color: #4a545f;
}

.titulo {
    display: flex;
    color: #1ABC9C;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: -100px;
    background-color: #4a545f;
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    background-color: #4a545f;
}

.forgot-password-box {
    background: #2C3E50;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    width: 400px;
    text-align: center;
}

    .forgot-password-box h2 {
        color: #1ABC9C;
    }

    .forgot-password-logo {
        text-align: center;
        margin-bottom: 20px;
    }

    .forgot-password-logo img {
        max-width: 100px;
    }