
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow: hidden;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    padding: 20px;
    background-color: #f4f4f4;
    overflow: hidden;
}

.login-box {
    width: 40%;
    padding: 200px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.login-photo {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

    .login-photo img {
        width: 100%;
        object-fit: cover;
    }

.login-logo img {
    
}

.form-group {
    margin-bottom: 50px;
    text-align: center;
    margin-top: 50px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
}

.url {
    color: black;
    text-decoration: none;
}

.url:visited {
    color: black;
}

.url:hover,
.url:active {
    color: black;
    text-decoration: none;
}