
.appointmentContainer {
    display: flex;
    justify-content: space-evenly;

}
.btn-primary {
    background-color: #3498DB;
    /* Azul */
    color: white;
    width: 50%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.btn-custom:hover {
    background-color: #2980B9;
    /* Azul más oscuro */
}

.table-container {
    position: relative;
    top: 100px;
    margin: 20px auto;
    /* Centra el contenedor verticalmente y horizontalmente */
    padding: 2rem;
    background-color: #2C3E50;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    width: 100%;
    /* Ajusta el ancho del contenedor según sea necesario */
    max-width: 1500px;
    /* Opcional: establece un ancho máximo */
}

.main-content {
    width: 80%;
}

.table {
    background-color: #34495E;
    /* Fondo de la tabla */
}

    .table th,
    .table td {
        text-align: center;
        vertical-align: middle;
        color: white;
        /* Color del texto */
        background-color: #34495E;
        /* Fondo de las celdas */
    }

.actions-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

    .actions-btn .btn {
        padding: 5px 10px;
        font-size: 0.875rem;
    }
