@{
    ViewData["Title"] = "CheckOTP";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificaci贸n de OTP</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    body {
        background-color: #2C3E50;
    }

    .azul-turquesa {
        color: #1ABC9C;
    }

    .custom-color {
        color: #F1C40F;
        /* Amarillo girasol */
    }

    .zanahoria-naranja {
        background-color: #E67E22;
    }

    .texto {
        color: white;
    }
</style>


<body>
    <div class="container d-flex align-items-center justify-content-center min-vh-100">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="mb-4 azul-turquesa">Verificaci贸n de OTP</h2>
                <p class="mb-4 custom-color">Por favor, ingrese el c贸digo OTP que le hemos enviado a su correo
                    electr贸nico para
                    verificar su cuenta.</p>
                <form id="verifyOtpForm" class="form-inline justify-content-center">
                    <div class="form-group mb-2">
                        <label for="otp" class="sr-only">OTP</label>
                        <input id="otp" class="form-control" placeholder="Ingrese OTP" required>
                    </div>
                    <button type="submit" class="btn zanahoria-naranja texto mb-2 ml-2 ">Verificar</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>
