@model FitnessCenter.Web.Models.Account.ForgotPasswordViewModel;
@{
    ViewData["Title"] = "Forgot Password";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Olvidé mi contraseña</title>
    <link rel="stylesheet" type="text/css" href="~/css/Account/ForgotPassword.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark fondoNav fixed-top ">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="LandingPage" asp-action="LandingPage">
                <img src="../Images/login-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="LandingPage" asp-action="LandingPage">Inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="forgot-password-container">
        <div class="forgot-password-box">
            <div class="forgot-password-logo">
                <img src="~/images/login-logo.png" alt="Foto de inicio de sesión" />
            </div>
            <form asp-action="ForgotPassword" method="post" id="forgotPasswordForm">
                <h2>Olvidé mi contraseña</h2>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" placeholder="example@domain.com" id="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Enviar" class="btn btn-primary" id="send-btn"/>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/Account/ForgotPassword.js"></script>
<script src="~/js/site.js"></script>
</html>
