@model FitnessCenter.Web.Models.Account.CreateUserViewModel;
@{
    ViewData["Title"] = "Create User";
    Layout = null; // No usar el layout predeterminado
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/Account/CreateRegisterUsers.css" />

</head>

<body>
    <div class="form-container color-fondo">
        <h2 class="text-center mb-4 azul-turquesa">Datos Personales</h2>
        <form id="createUserForm" class="form-group">
            <div class="form-group texto">
                <label asp-for="Identificacion" class="control-label"></label>
                <input asp-for="Identificacion" class="form-control" />
                <span asp-validation-for="Identificacion" class="text-danger"></span>
            </div>
            <div class="form-group texto">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group texto">
                <label asp-for="PrimerApellido" class="control-label"></label>
                <input asp-for="PrimerApellido" class="form-control" />
                <span asp-validation-for="PrimerApellido" class="text-danger"></span>
            </div>
            <div class="form-group texto">
                <label asp-for="SegundoApellido" class="control-label"></label>
                <input asp-for="SegundoApellido" class="form-control" />
                <span asp-validation-for="SegundoApellido" class="text-danger"></span>
            </div>
            <div class="form-group texto">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group texto">
                <label asp-for="CorreoElectronico" class="control-label"></label>
                <input asp-for="CorreoElectronico" class="form-control" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>
            <div class="form-group text-center mt-4">
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Customers/createRegisterUsers.js"></script>
    <script src="~/js/site.js"></script>
</body>

</html>
