@{
    ViewData["Title"] = "Create User";
    Layout = null; // No usar el layout predeterminado
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/Account/CreateRegisterUsers.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Pages/createRegisterUsers.js" defer></script>

</head>

<body>
    <div class="form-container zanahoria-naranja">
        <h2 class="text-center mb-4">Datos Personales</h2>
        <form id="createUserForm" class="form-group">
            <div class="form-group texto">
                <label for="identificacion">Identificación:</label>
                <input id="identificacion" class="form-control" required>
            </div>
            <div class="form-group texto">
                <label for="nombre">Nombre:</label>
                <input id="nombre" class="form-control" required>
            </div>
            <div class="form-group texto">
                <label for="primerApellido">Primer Apellido:</label>
                <input id="primerApellido" class="form-control" required>
            </div>
            <div class="form-group texto">
                <label for="segundoApellido">Segundo Apellido:</label>
                <input id="segundoApellido" class="form-control">
            </div>
            <div class="form-group texto">
                <label for="telefono">Teléfono:</label>
                <input id="telefono" class="form-control">
            </div>
            <div class="form-group texto">
                <label for="correoElectronico">Correo Electrónico:</label>
                <input id="correoElectronico" class="form-control" required>
            </div>
            <div class="form-group text-center mt-4">
                <button type="submit" class="btn zanahoria-naranja-b texto">Registrarse</button>
            </div>
        </form>
    </div>

    <!-- Bootstrap JS y dependencias -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>
