@{
    ViewData["Title"] = "Verify";
    Layout = null; // No usar el layout predeterminado
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificacion de OTP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/Account/VerifyOtp.css" />

   
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fondoNav fixed-top ">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="LandingPage" asp-action="LandingPage">
                <img src="../Images/login-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="LandingPage" asp-action="LandingPage">Inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="form-container">
        <h2 class="mb-5 azul-turquesa">Verificación de OTP</h2>
        <p class="mb-5 custom-color">
            Por favor, ingrese el código OTP que le hemos enviado a su correo electrónico para
            verificar su cuenta.
        </p>
        <form id="verifyOtpForm">
            <div class="form-group">
                <label for="otp">Código OTP</label>
                <input id="otp" name="otp" class="form-control" placeholder="Ingrese OTP" required>
            </div>
            <div class="form-group mt-4">
                <label for="password">Nueva Contraseña</label>
                <input id="password" name="password" type="password" class="form-control" placeholder="Nueva Contraseña"
                    required>
            </div>
            <div class="form-group mt-4">
                <label for="confirmPassword">Confirmar Contraseña</label>
                <input id="confirmPassword" name="confirmPassword" type="password" class="form-control"
                    placeholder="Confirmar Contraseña" required>
            </div>
            <button type="submit" class="btn zanahoria-naranja texto mb-2 mt-3">Verificar</button>
        </form>
      
    </div>
    <br />

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Account/verifyOtp.js" defer></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
