@{
    ViewData["Title"] = "Registrar Rutina";
    Layout = null; // No usar el layout predeterminado
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/Routine/CreateRoutine.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    
</head>


<body>

    <nav class="navbar navbar-expand-lg navbar-custom fondoNav">
        <a class="navbar-brand" href="@Url.Action("Home", "Trainer")">
            <img src="~/Images/login-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Trainer" asp-action="Home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Routine" asp-action="CreateRoutine">Asignar rutina</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Trainer" asp-action="CreateAppointment">Entrenamiento personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Trainer" asp-action="CreateMeasurement">Cita de medición</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Trainer" asp-action="CreateExercise">Crear ejercicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Trainer" asp-action="CreateExerciseType">Crear tipo de ejercicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Trainer" asp-action="CreateEquipment">Crear equipo</a>
                </li>
                <li class="nav-item">
                    <a class="profile-icon nav-link" asp-controller="Account" asp-action="Profile">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="logoutButton" class="nav-link">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="form-container">
            <form id="createRoutineForm" class="form-group">
                <div class="titulo">
                    <h2>Asignación de rutinas</h2>
                </div>
                <div class="inputContainer">
                    <div class="inputgroup1">
                        <div class="form-group">
                            <label for="Cliente">Cliente</label>
                            <select id="Cliente" class="form-control" name="ClienteId">
                               
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Entrenador">Entrenador</label>
                            <select id="Entrenador" class="form-control" name="EntrenadorId">
                              
                            </select>
                        </div>
                    </div>
                    <div class="inputgroup2">
                        <label for="Ejercicio">Ejercicio</label>
                        <select id="Ejercicio" class="form-control" name="EjercicioId">
                           
                        </select>
                    </div>
                    <div class="inputgroup3">
                        <div class="form-group">
                            <label for="TipoEjercicio">Tipo de Ejercicio</label>
                            <select id="TipoEjercicio" class="form-control">
                                <option value="">Seleccione un tipo de ejercicio</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Equipo">Equipo</label>
                            <select id="Equipo" class="form-control">
                                <option value="">Seleccione un tipo de ejercicio</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Sets">Sets</label>
                            <input class="form-control" id="Sets" name="Sets">
                        </div>
                    </div>
                    <div class="inputgroup4">
                        <div class="form-group">
                            <label for="Repeticiones">Repeticiones</label>
                            <input class="form-control" id="Repeticiones" name="Repeticiones">
                        </div>
                        <div class="form-group">
                            <label for="Peso">Peso</label>
                            <input class="form-control" id="Peso" name="Peso">
                        </div>
                        <div class="form-group">
                            <label for="Duracion">Duración</label>
                            <input class="form-control" id="Duracion" name="Duracion">
                        </div>
                    </div>
                    <div class="inputgroup5">
                        <div class="form-group">
                            <label for="dia">Día</label>
                            <input class="form-control" id="Dia" name="Duracion">
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="@Url.Action("Home", "Trainer")" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Routine/CreateRoutine.js"></script>
    <script src="~/js/site.js"></script>

</body>

</html>
