@{
    ViewData["Title"] = "List Routines";
    Layout = null; // No usar el layout predeterminado
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rutinas de Ejercicio</title>
    <link rel="stylesheet" type="text/css" href="~/css/Routine/ListRoutine.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
   
</head>
<style>
    label{
        color: white;
    }
</style>
<body class="fondo">
    <nav class="navbar navbar-expand-lg navbar-custom fondoNav">
        <a class="navbar-brand" href="#">
            <img src="../Images/login-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Customers" asp-action="Home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Routine" asp-action="ListRoutines">Rutinas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Customers" asp-action="Appointments">Citas de medición</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Customers" asp-action="Classes">Clases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Customers" asp-action="Trainings">Entrenamientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Customers" asp-action="Progress">Progreso</a>
                </li>
                <li class="nav-item">
                    <a class="profile-icon nav-link" asp-controller="Account" asp-action="Profile">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <h2 class="text-center text-white mt-4">Visualización de Rutinas</h2>

    <div class="container mt-4 table-container">
        <table id="routineTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Ejercicio</th>
                    <th>Tipo de Ejercicio</th> <!-- Nueva columna para el tipo de ejercicio -->
                    <th>Equipo</th>
                    <th>Sets</th>
                    <th>Repeticiones</th>
                    <th>Peso</th>
                    <th>Duración (segundos)</th>
                    <th>Día</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se insertarán los datos dinámicamente -->
            </tbody>
        </table>
    </div>

    <h2 class="text-center text-white mt-4">Registro de Entrenamientos</h2>

    <div class="container mt-4">
        <form id="trainingRegistrationForm" class="form-container p-3">
            <div class="form-row mb-3">
                <div class="form-group col-md-12">
                    <label for="ExerciseName">Ejercicio</label>
                    <input type="text" class="form-control" id="ExerciseName" placeholder="Introduce el nombre del ejercicio" style="width: 100%;">
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="form-group col-md-4">
                    <label for="SetsCompleted">Sets</label>
                    <input type="number" class="form-control" id="SetsCompleted" placeholder="Número de sets">
                </div>
                <div class="form-group col-md-4">
                    <label for="RepetitionsCompleted">Repeticiones</label>
                    <input type="number" class="form-control" id="RepetitionsCompleted" placeholder="Número de repeticiones">
                </div>
                <div class="form-group col-md-4">
                    <label for="WeightUsed">Peso (KG)</label>
                    <input type="number" class="form-control" id="WeightUsed" placeholder="Peso utilizado (kg)">
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="form-group col-md-6">
                    <label for="DurationInSeconds">Duración (segundos)</label>
                    <input type="number" class="form-control" id="DurationInSeconds" placeholder="Duración en segundos">
                </div>
                <div class="form-group col-md-6">
                    <label for="DateLogged">Fecha del Entrenamiento</label>
                    <input type="date" class="form-control" id="DateLogged">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3">Registrar Entrenamiento</button>
        </form>
    </div>






    <!-- Scripts de Bootstrap y otros -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/Routine/listRoutine.js"></script>
</body>

</html>


