.titulo {
    background-color: #2C3E50;
}

.login-logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

    .login-logo img {
        width: 120px;
    }

.container {
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    background-color: #2C3E50;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    margin-top: 50px;
}