body {
    background-color: #2C3E50; /* Azul medianoche */
    color: white;
}

.navbar {
    background-color: #2C3E50; /* Azul medianoche */
    z-index: 1000;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

    .navbar-dark .navbar-nav .nav-link:hover {
        color: #1ABC9C; /* Azul turquesa */
    }

#hero {
    position: relative;
    height: 860px;
    background: url('../static/t.png') no-repeat center 20% fixed; /* Ajusta la posici�n vertical de la imagen */
    background-size: cover;
    text-align: center;
    color: white;
}

.logo-container {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    max-width: 200px;
    opacity: 0.8;
}

.azul-turquesa {
    color: #1ABC9C; /* Azul turquesa */
}

.azul-turquesa-fondo {
    background-color: #1ABC9C; /* Azul turquesa */
}

.azul-medianoche {
    color: #2C3E50; /* Azul medianoche fondos, headers, footers */
}

.verde-esmeralda {
    color: #2ECC71; /* Verde esmeralda */
}

.zanahoria-naranja {
    background-color: #E67E22; /* Zanahoria naranja */
}
.custom-color {
    color: #F1C40F; /* Amarillo girasol */
}
.rojo-alizarina{
    color: #E74C3C; /* rojo de alizarina para errores*/
}
.texto{
    color: white; /*para parrafos*/
}

#servicios h2 {
    color: #1ABC9C; /* Azul turquesa */
}


#contacto {
    background-color: #E67E22; /* Zanahoria naranja */
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #2C3E50; /* Azul medianoche */
    color: white;
    text-align: center;
    padding: 20px;
}

    footer a {
        color: #1ABC9C; /* Azul turquesa */
    }

        footer a:hover {
            color: #16A085; /* Verde m�s oscuro */
        }



.boto {
    color: white;
}

.circle-container {
    border-radius: 100%;
    overflow: hidden;
    width: 160px;
    height: 100px;
}

.line-separator {
    border: none;
    border-bottom: 2px solid #16A085; /* ajusta el color y grosor de la l�nea seg�n sea necesario */
    width: 30%; /* ajusta el ancho de la l�nea seg�n sea necesario */
    margin: 10px auto; /* centrar� la l�nea horizontalmente y agregar� margen arriba y abajo */
}

.line-separator2 {
    border: none;
    border-bottom: 2px solid #16A085; /* ajusta el color y grosor de la l�nea seg�n sea necesario */
    width: 80%; /* ajusta el ancho de la l�nea seg�n sea necesario */
    margin: 10px auto;
}
/* Estilos para las cartas en la secci�n de servicios */
#servicios .card {
    width: 100%;
    min-height: 105%;
}

    #servicios .card img {
        height: 400px;
        object-fit: cover;
    }

.row-cols-4 > .col, .row-cols-md-3 > .col {
    flex: 0 0 auto;
    width: calc(40.333% - 1rem); /* Ajustar el ancho para 3 cartas por fila */
    margin-right: 11.0rem; /* A�adir espacio entre las cartas */
    margin-left: 0.5rem;
}

#servicios .g-4 > .col {
    padding: 0.5rem; /* Ajustar el espacio entre las cartas */
}
/* Ajustes de margen para mover las cartas */
#servicios .row {
    margin-left: 2rem; /* Ajustar hacia la derecha */
    /* margin-right: 2rem; /* Ajustar hacia la izquierda, si es necesario */
}
