@{
    Layout = null;
}
@{
    ViewData["Title"] = "LandingPage";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page - FitnessCenterSolution</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Pages/landingPage.css" />
    <link rel="stylesheet" href="~/css/Pages/landingPage.css" asp-append-version="true">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark azul-medianoche justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="~/Images/login-logo.png" alt="Logo del Sistema" height="40">
        </a>
        <div class="d-flex">
            <a class="nav-link custom-color" asp-controller="Account" asp-action="Register">Registrarse</a>
            <a class="nav-link custom-color" asp-controller="Account" asp-action="Login">Iniciar Sesión</a>
        </div>
    </nav>
    <section id="hero">
        <div class="overlay"></div>
        <div class="content">
            <div class="logo-container">
               
            </div>
        </div>
    </section>

    <section id="servicios" class="container py-5">
        <div class="mb-5 text-center">
            <h1 class="mb-4 azul-turquesa">Algunos Servicios</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-4">
                <div class="card zanahoria-naranja h-100">
                    <img src="../static/personal-trainer.jpg" class="card-img-top"
                        alt="Entrenadores Personales Certificados">
                    <div class="card-body text-white">
                        <h5 class="card-title azul-medianoche">Entrenadores Personales Certificados</h5>
                        <p class="card-text">
                            Trabaja con entrenadores altamente calificados que te ayudarán a alcanzar
                            tus metas de manera efectiva y segura.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card zanahoria-naranja h-100">
                    <img src="../static/medicion.jpg" class="card-img-top" alt="Evaluaciones Corporales Personalizadas">
                    <div class="card-body text-white">
                        <h5 class="card-title azul-medianoche">Evaluaciones Corporales Personalizadas</h5>
                        <p class="card-text">
                            Recibe evaluaciones periódicas para monitorear tu progreso y ajustar tus
                            rutinas según tus objetivos.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card zanahoria-naranja h-100">
                    <img src="../static/seguimiento.webp" class="card-img-top" alt="Seguimiento de Progreso en Línea">
                    <div class="card-body text-white">
                        <h5 class="card-title azul-medianoche">Seguimiento de Progreso en Línea</h5>
                        <p class="card-text">
                            Monitorea tu progreso con gráficos y reportes detallados que te mantendrán
                            motivado y enfocado en tus objetivos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
       

        <div class="row g-4">
            <div class="col-md-4">
                <div class="card zanahoria-naranja h-100">
                    <img src="../static/full-shot-people-training-together-gym.jpg" class="card-img-top"
                        alt="Clases Grupales Dinámicas">
                    <div class="card-body text-white">
                        <h5 class="card-title azul-medianoche">Clases Grupales Dinámicas</h5>
                        <p class="card-text">
                            Participa en una variedad de clases grupales divertidas y motivadoras que
                            te ayudarán a mantenerte en forma y motivado.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card zanahoria-naranja h-100">
                    <img src="../static/equipo.jpg" class="card-img-top" alt="Variedad de Equipos de Alta Calidad">
                    <div class="card-body text-white">
                        <h5 class="card-title azul-medianoche">Variedad de Equipos de Alta Calidad</h5>
                        <p class="card-text">
                            Accede a una amplia gama de equipos modernos y bien mantenidos para
                            satisfacer todas tus necesidades de entrenamiento.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card zanahoria-naranja h-100">
                    <img src="../static/side-view-elder-couple-tradmill.jpg" class="card-img-top"
                        alt="Ambiente Seguro y Limpio">
                    <div class="card-body text-white">
                        <h5 class="card-title azul-medianoche">Ambiente Seguro y Limpio</h5>
                        <p class="card-text">
                            Disfruta de un ambiente seguro, limpio y amigable que te hará sentir cómodo
                            y bienvenido.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <div class="text-center">
        <p class="azul-turquesa" style="font-size: 18px;">Y más... </p>
        <hr class="line-separator">
    </div>
    
    <div class="container text-center my-5">
        <h4 class="azul-turquesa">FORMA PARTE DE NUESTRA COMUNIDAD Y TRANSFORMA TU VIDA CON NOSOTROS</h4>
        <a class="btn boto zanahoria-naranja" asp-controller="Account" asp-action="Register">Registrarse</a>

    </div>

    <footer style="background-color: #000; color: #fff; padding: 40px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 text-center text-md-left">
                    <img src="../Images/login-logo.png" alt="Logo" style="max-width: 170px;">
                    <p style="margin-top: 20px;">Líder en soluciones de fitness y bienestar</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 text-center text-md-left">
                    <h5 style="font-weight: 600; margin-bottom: 20px;">Contacto</h5>
                    <p style="font-size: 14px; margin-bottom: 10px;">Avenida Central, San José, Costa Rica</p>
                    <p style="font-size: 14px; margin-bottom: 10px;">Teléfono: +506 2556 0707</p>
                    <p style="font-size: 14px;">Correo Electrónico: CentroACon@gmail.com</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 text-center text-md-left">
                    <h5 style="font-weight: 600; margin-bottom: 20px;">Síguenos</h5>
                    <div style="display: flex; justify-content: center; gap: 15px;">
                        <a href="#" style="color: #fff; font-size: 24px;">
                            <img src="../static/facebok.png" alt="Facebook" style="width: 40px; height: 40px;">
                        </a>
                        <a href="#" style="color: #fff; font-size: 24px;">
                            <img src="../static/t.png" alt="Twitter" style="width: 40px; height: 40px;">
                        </a>
                        <a href="#" style="color: #fff; font-size: 24px;">
                            <img src="../static/Instagram.webp" alt="Instagram" style="width: 40px; height: 40px;">
                        </a>
                        <a href="#" style="color: #fff; font-size: 24px;">
                            <img src="../static/LinkedIn.webp" alt="Linkin" style="width: 40px; height: 40px;">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <p style="font-size: 14px;">© 2024 Fitness Center. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>
