.navbar-nav {
    margin-left: auto;
}

.nav-item {
    position: relative;
    margin-left: 10px;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px; /*Tamaño estándar de la barra nav*/
    background: #F1C40F;
    transition: width .3s;
    margin: 0 auto;
}

.nav-link:hover::after { /*Efecto de la línea de los btn*/
    width: 100%;
    transition: width .3s; /*Velocidad de la raya al abrirse*/
}

.fondoNav {
    background-color: #2e4257;
}

.navbar-brand,
.navbar-custom .nav-link {
    color: #F1C40F; /* Color de los enlaces */
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    max-width: 200px;
    opacity: 0.8;
}


.navbar .navbar-nav .nav-link {
    font-size: 17px;
}








.card-img-top {
    height: 200px;
    object-fit: cover;
}

.titulo {
    text-align: center;
}

.textoBlanco {
    color: white;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
}

.titulo {
    text-align: center;
    color: white;
}
.fondoCards {
    background-color: #34495E;
}
.fondoBotones {
    background-color: #E67E22 !important;
}
#calendar-container {
    display: flex;
    justify-content: flex-start;
    margin: 20px auto;
    max-width: 1000px;
    margin-top: 0px;
}

#calendar {
    flex: 2;
    max-width: 70%;
    max-height: 800px;
    margin-left: -64px;
}

#appointment-details {
    flex: 1;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-height: 205px;
    overflow-y: auto;
    display: none;
    margin-top: 64px;
    margin-right: -14px;
}

/* Estilos para los botones en el contenedor de detalles */
#appointment-details-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

    #appointment-details-buttons button {
        margin-left: 10px;
    }

.ele {
    background-color: #4a545f;
}

.fc .fc-view-harness {
    flex-grow: 1;
    position: relative;
    background-color: white;
}

.textoBlanco {
    color: white;
    position: absolute;
    left: 43%;
    top: 63px;
}

.fc-daygrid-day-number {
    color: #000000; /* Color de los números de los días */
}

.texto-rojo {
    color: red;
}

.container {
    margin: 20px auto;
    padding: 2rem;
    background-color: #34495E;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    width: 80%;
    max-width: 1200px;
}

.fc-toolbar-title {
    color: white; 
    text-transform: capitalize; 
}