
.fondo {
    background-color: #4a545f;
}

.profile-icon {
    color: #000; /* Cambiar el color a negro */
}

#hero {
    position: relative;
    height: 650px;
    background: url('../../static/home2.jpg') no-repeat center 0% fixed;
    background-size: cover;
    text-align: center;
    color: white;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    max-width: 200px;
    opacity: 0.8;
}
